.fileInput {
    border-bottom: 4px solid #d3d3d3;
    border-right: 4px solid #d3d3d3;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    padding: 10px;
    
    cursor: pointer;
}

.submitButton {
    background: #f2c2c2;
    border: 1px solid;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0px;
    padding: 15%;
    
}

.submitButton1 {
    background: #f2c2c2;
    border: 1px solid;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0px;
    padding: 18%;
    
}

.submitButton:hover {
    background: #efefef;
}

